<output xmlns:sys="javascript:Sys" xmlns:dataview="javascript:Sys.UI.DataView" xmlns:content="javascript:ExoWeb.UI.Content" xmlns:template="javascript:ExoWeb.UI.Template" xmlns:toggle="javascript:ExoWeb.UI.Toggle" xmlns:behavior="javascript:ExoWeb.UI.Behavior" xmlns:html="javascript:ExoWeb.UI.Html" xmlns:togglegroup="javascript:ExoWeb.UI.ToggleGroup">
  <div class="sys-template" id="exo0">
    <div sys:attach="content" content:data="{{ $dataItem }}"></div>
  </div>
  <div data-sys-attach="dataview" data-dataview-data="{~ context.model.request, source=window }" data-sys-content-template="readonly" data-sys-tmplidx="0" id="exo1" class="sys-ignore">
    <!--item:s1-->
    <div data-sys-attach="content" data-content-data="{{ $dataItem }}" data-sys-tcindex="s2" class="readonly">
      <span data-sys-innerhtml="{binding Description}">Something doesn't work</span>
    </div>
    <!--/item-->
  </div>
  <script type="text/javascript">$exoweb({ domReady: function() { Sys.Application.linkElement(document.getElementById("exo1"), document.getElementById("exo0")); } });</script>
</output>